.body {
    width: 60%;
    margin: auto;
    box-shadow: 0px 0px 10px gray;
    border: 40px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 5px 20px rgb(204, 203, 203);
    padding: 0px 20px;
    color: rgb(0, 208, 255);
    background-color: rgb(35, 35, 35);
}

nav h1 {
    margin-right: auto;
}

main {
    padding: 20px;
    color: white;
    background-color:  rgb(46, 44, 44);
    line-height: 2rem;
}

footer {
    padding: 20px;
    background-color: gray;
    color: white;
}

img {
    padding: 0px 10px;
}

.nav-items {
    display: flex;
    justify-content: center;
}

li {
    list-style: rgb(0, 208, 255);
    padding: 10px;

}